[submodule "SerialLED/verilog-uart"]
	path = SerialLED/verilog-uart
	url = https://github.com/alexforencich/verilog-uart
[submodule "SerialWishbone/verilog-uart"]
	path = SerialWishbone/verilog-uart
	url = https://github.com/alexforencich/verilog-uart
[submodule "SerialWishbone/verilog-wishbone"]
	path = SerialWishbone/verilog-wishbone
	url = https://github.com/alexforencich/verilog-wishbone.git
[submodule "SerialPIO/fpga_pio"]
	path = SerialPIO/fpga_pio
	url = https://github.com/lawrie/fpga_pio.git
[submodule "SPIQuadCopter/verilog-wishbone"]
	path = SPIQuadCopter/verilog-wishbone
	url = https://github.com/alexforencich/verilog-wishbone
[submodule "SPIQuadCopter/verilog-uart"]
	path = SPIQuadCopter/verilog-uart
	url = https://github.com/alexforencich/verilog-uart.git
[submodule "SPIQuadCopter/serv/serv-core"]
	path = SPIQuadCopter/serv/serv-core
	url = https://github.com/olofk/serv
