IO_LOC  "neoPxD" 57;
IO_PORT "neoPxD" DRIVE=4 IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "debug_1" 37;
IO_PORT "debug_1" DRIVE=4 IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "debug_0" 38;
IO_PORT "debug_0" DRIVE=4 IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "led_data" 69;
IO_PORT "led_data" DRIVE=4 IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "led_clk" 68;
IO_PORT "led_clk" DRIVE=4 IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "clk" 52;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "o_led[0]" 10;
IO_PORT "o_led[0]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "o_led[1]" 11;
IO_PORT "o_led[1]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "o_led[2]" 13;
IO_PORT "o_led[2]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "o_led[3]" 14;
IO_PORT "o_led[3]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "o_led[4]" 15;
IO_PORT "o_led[4]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "o_led[5]" 16;
IO_PORT "o_led[5]" DRIVE=8 IO_TYPE=LVCMOS18;

IO_LOC  "uartTx" 17;
IO_PORT "uartTx" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC  "uartRx" 18;
IO_PORT "uartRx" IO_TYPE=LVCMOS33 PULL_MODE=UP;
