# --- VIVADO REPOSITORY MANAGEMENT ---
# Ignore all project noise, but keep the essentials
*.jou
*.log
*.pb
*.jou
*.dir/
*.os/
/vivado_proj/*.cache/
/vivado_proj/*.hw/
/vivado_proj/*.ip_user_files/
/vivado_proj/*.runs/
/vivado_proj/*.sim/
/vivado_proj/*.gen/

# --- KEEP THESE (Whitelist) ---
# Ensure these aren't ignored even if inside vivado_proj
!/vivado_proj/*.xpr
!/vivado_proj/*.srcs/
!/vivado_proj/*.bd
!/vivado_proj/recreate_bd.tcl

# --- VITIS / SDK ---
.Xil/
.metadata/
*.xsa
/sdk/*/Debug/
/sdk/*/Release/
/sdk/.sdk/
/sdk/RemoteSystemsTempFiles/
